img {
  height: 300px;
  width: 20%;
  float: left;
  padding: 15px;
  /* border: 2px solid black; */
}

.places {
  font-style: italic;
}

body {
  font-family: times;
}

body ol {
  list-style-type: upper-roman;
  display: inline-block;
}

.box {
  margin: 12px;
  border: 2px dotted #3498DB;
  padding: 10px;
  background-color: #D7BDE2;
  font-family: monospace;
}
